/*}quang cáo*/
#quang-cao{
    height: 300px;
    background: url(../Image/bg_top_ft.jpg) no-repeat ;

}
.noi-dung-quang-cao {
    padding-top: 50px;
}
.noi-dung-quang-cao-2 {
    display: flex;
    margin: auto;
    justify-content: center;
}
.noi-dung-quang-cao-3 {
    position: relative;
    width: 670px;
    height: 200px;
    background: #000000;
}
.quang-cao-den {
    position: absolute;
    background: #ff854c;
    top: -10px;
    font-size: 21px;
    width: 450px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 70px 50px 20px;
}
strong.chu30 {
    font-size: 30px;
    /* font-weight: bold; */
    /* padding: 1px 1px; */
}
.lay-ma{
    text-align: right;
    padding: 128px 50px 50px 20px;
}
.lay-ma a{
    display: inline;
    padding: 10px 15px;
    background: #ff854c;
    text-transform: uppercase;
    color: #ffffff;
}
